<div class="about">
	<h1>Formulario de</h1>		
	<h2>COTIZACION</h2>
	<div class="line1"></div>
		<div class="row">
			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<img src="assets/images/img-2.jpg">
			</div>
			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<div class="box-form">
					<div class="form-group">
                       <input type="text" placeholder="Nombre" id="name" name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                       <input type="text" placeholder="Whatsapp" id="whatsapp" name="whatsapp" class="form-control" required>
                    </div>
                    <div class="form-group">
                       <input type="text" placeholder="Email" id="email" name="email" class="form-control" required>
                    </div>
					<div class="form-group">
					<textarea placeholder="Mensaje"></textarea>
					</div>
					<div class="col-md-2  col-sm-2 col-xs-12"></div>
					<div class="col-md-8  col-sm-8 col-xs-12">
			        	<a class="btn-line-s" href="#">COTIZAR</a>
			        </div>
				</div>
			</div>
			
			<div class="clearfix"></div>
		</div>
</div>