<footer>
	<div class="container">
		<h2>CONTACTANOS!</h2>
		<p>Los mejores profesionales para tu proyecto</p>
		<div class="row">
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="box-footer">
				<i class="fa fa-map-marker"></i>
				<h3>LOREN IPSUM</h3>
				<p>Duis tempor es ed sapien bibendum egesta</p>
				</div>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="box-footer">
				<i class="fa fa-phone"></i>
				<h3>LOREN IPSUM</h3>
				<p>Duis tempor es ed sapien bibendum egesta</p>
				</div>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="box-footer">
				<i class="fa fa-facebook"></i>
				<h3>LOREN IPSUM</h3>
				<p>Duis tempor es ed sapien bibendum egesta</p>
				</div>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="box-footer">
				<i class="fa fa-dollar"></i>
				<h3>LOREN IPSUM</h3>
				<p>Duis tempor es ed sapien bibendum egesta</p>
				</div>
			</div>
		</div>
	</div>
</footer>