<footer>
	<div class="container">
		
		<div class="row">
			<div class="foot col-md-4 col-sm-4 col-xs-12">
				<img src="assets/images/logofooter.png">
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<ul class="listfoot">
					<li><a href="">Inicio</a></li>
					<li><a href="">Nosotros</a></li>
					<li><a href="">Cotizaciones</a></li>
					<li><a href="">Contacto</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<ul class="listfoot2">
					<li><img src="assets/images/icon_01.png" />  703-2354-6587</li>
					<li style="padding-left:100px">703-2354-6587</li>
					<li><img src="assets/images/icon_02.png" /> info@miwebsite.com</li>
				</ul>
				<div class="redes2">
		                <a href=""><i class="fa fa-facebook"></i></a>
		                <a href=""><i class="fa fa-twitter"></i></a>
		                <a href=""><i class="fa fa-instagram"></i></a>
		        </div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				
			</div>
		</div>
	</div>

	<p class="copyright">Constructora Aguilar © Todos los Derechos Reservados. 2018</p>
</footer>