	<header>
			  
              <nav class="navbar navbar-expand-md navbar-dark  fixed-top"><!--bg-dark-->
                   
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>

                   <div class="collapse navbar-collapse" id="navbarsExampleDefault">

                     <ul class="navbar-nav mr-auto">
                       <li class="nav-item" [routerLinkActive]="['active']">
                         <a class="nav-link" [routerLink]="['/nosotros']">NOSOTROS <span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item" [routerLinkActive]="['active']">
                         <a class="nav-link" [routerLink]="['/cotizacion']">COTIZACIONES</a>
                       </li>
                       <li class="nav-item" [routerLinkActive]="['active']">
                         <a class="nav-link" [routerLink]="['/proyecto']">PROYECTO DA VINCI</a>
                       </li>                       
                       <li class="nav-item" [routerLinkActive]="['active']">
                         <a class="nav-link contact" [routerLink]="['/contacto']">CONTACTO</a>
                       </li>
                       
                     </ul>
                     
                   </div>

                </nav>

                <div class="slide" >
                	<a class="navbar-brand" [routerLink]="['']"><img src="assets/images/logo.png" /></a>
                      <h1>haciendo realidad</h1>
                      <h2>tus sueños</h2>
                </div>

                <div class="redes">
                <a href=""><img src="assets/images/red_01.jpg"></a>
                <a href=""><img src="assets/images/red_02.jpg"></a>
                <a href=""><img src="assets/images/red_03.jpg"></a>
                <a href=""><img src="assets/images/red_04.jpg"></a>
                </div>
        </header>
        