<!-- =-=-=-=-=-=-= Light Header =-=-=-=-=-=-= -->
      <div class="colored-header">
         
         <!-- Navigation Menu -->
         <div class="clearfix"></div>
         <!-- menu start -->
            <nav id="menu-1" class="mega-menu">
               <!-- menu list items container -->
               <section class="menu-list-items">
                  <div class="container">
                     <div class="row">
                        <div class="col-lg-12 col-md-12">
                           <!-- menu logo -->
                           <!--<ul class="menu-logo">
                              <li>
                                 <a href="index.html"><img src="images/logo.png" alt="logo"> </a>
                              </li>
                           </ul>-->
                           <!-- menu links -->
                           <ul class="menu-links">
                              <!-- active class -->
                              <li><a href="">NOSOTROS</a></li>
                              <li><a href="">COTIZACIONES</a></li>
                              <li><a href="">PROYECTO DA VINCI</a></li>
                              <li><a href="">CONTACTO</a></li>
                           </ul>
                           
                        </div>
                     </div>
                  </div>
               </section>
            </nav>
         <!-- menu end -->
      </div>
      <!-- Navigation Menu End -->
      <!-- =-=-=-=-=-=-= Light Header End  =-=-=-=-=-=-= -->