<div class="chat">
          <img src="assets/images/chat.png">
        </div>
        <div class="redes" (scroll)="scrollHandler($event)">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-instagram"></i></a>
        </div>
<div class="about">
	<!--<h1>Formulario de</h1>-->		
	<h2>CONTACTO</h2>
	<div class="line1"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6  col-sm-6 col-xs-12">
				<h1>Nuestras Oficinas</h1>
				 <div #gmap id="itemMap" style="width: 100%; height: 370px; margin-bottom:5px;"></div>
			</div>
			<div class="col-md-6  col-sm-6 col-xs-12">
				<h1>Nuestros proyectos</h1>
			</div>
			<div class="col-md-12  col-sm-12 col-xs-12">
				<p>Telefono Administracion: <strong>xxxxxxxx</strong></p>
				<p>Telefono Area Comercial: <strong>xxxxxxxx</strong></p>
				<br /><br />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="bck-plomo">
	<div class="btn-ok" [routerLink]="['/cotizacion', 'contacto']">COTIZACIONES</div>
</div>