<div class="project">
    <div class="container">
    <div class="row">
    	<div class="col-md-8  col-sm-8 col-xs-12">
        <h1>Proyecto</h1>
        <h2>DA VINCI</h2>
        </div>
        <div class="col-md-4  col-sm-4 col-xs-12">
        	<a class="btn-line" href="#">ELIGE TU DEPARTAMENTO</a>
        </div>
    </div>
    </div>
</div>
<div class="imgproject">
	<div class="btn-cot"></div>
	<div class="container">
	<div class="row">
	<div class="col-md-4  col-sm-4 col-xs-12">
	</div>
	<div class="col-md-8  col-sm-8 col-xs-12">
	<div class="">
		<p>CONOCE MAS SOBRE NUESTRO NUEVO PROYECTO</p>
		<div class="line1"></div>
		<h2>DA VINCI</h2>
	</div>
	</div>
	</div>
	</div>
</div>
<div class="gallery">
	<div class="container">
	<h1>Nuestra</h1>
	<h2>GALERIA</h2>
	<div class="line1"></div>
	<div class="row">
		<div class="col-md-9  col-sm-9 col-xs-12">
			<div class="col-md-4  col-sm-4 col-xs-12">
				<img src="assets/images/gal-1.jpg">
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<img src="assets/images/gal-2.jpg">
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<img src="assets/images/gal-3.jpg">
			</div>

			<div class="col-md-6  col-sm-6 col-xs-12">
				<img src="assets/images/video-1.jpg">
			</div>
			<div class="col-md-6  col-sm-6 col-xs-12">
				<img src="assets/images/video-2.jpg">
			</div>
		</div>
		<div class="col-md-3  col-sm-3 col-xs-12">
			<p>Ademas puedes incluir a tu departamento</p>
			<div class="serv">
				<img src="assets/images/serv-1.jpg">
				<div class="btnred">Domotica</div>
			</div>
			<div class="serv">
				<img src="assets/images/serv-2.jpg">
				<div class="btnred">Diseño Personalizado</div>
			</div>
			<div class="serv">
				<img src="assets/images/serv-3.jpg">
				<div class="btnred">Estilo</div>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="testimonio">
<div class="row">
	
	<div class="col-md-12  col-sm-12 col-xs-12">
	<h2>TESTIMONIOS</h2>
	<div class="line1"></div>
	<!--<p class="title1">¿qué dicen las personas de nosotros?</p>-->
	<div class="content-testimonio">
	<ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
          <ngx-item NgxCarouselItem>
          <div class="box-testimonio">
          	<img src="assets/images/img-t1.jpg">
            <p>I was all over the place with this move, but the girl Stephanie helped me! Thank you for being patience.
changes. Lol Best company great prices and amazing staff!</p>
			<p class="textred">- Monalisa Slinger</p>
		  </div>
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <div class="box-testimonio">
          	<img src="assets/images/img-t2.jpg">
            <p>I was all over the place with this move, but the girl Stephanie helped me! Thank you for being patience.
changes. Lol Best company great prices and amazing staff!</p>
			<p class="textred">- Monalisa Slinger</p>
		  </div>
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <div class="box-testimonio">
          	<img src="assets/images/img-t1.jpg">
            <p>I was all over the place with this move, but the girl Stephanie helped me! Thank you for being patience.
changes. Lol Best company great prices and amazing staff!</p>
			<p class="textred">- Monalisa Slinger</p>
		  </div>
          </ngx-item>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
    </div>
	
	</div>
</div>
</div>
<div class="marca">
	<h1>CONSTRUIMOS</h1>		
	<h2> JUNTO A</h2>
	<div class="line2"></div>
	
	<div class="container">
	<div class="row">
		<div class="box-marca col-md-4  col-sm-4 col-xs-12">
			<img src="assets/images/marca_01.jpg">		
		</div>
		<div class="box-marca col-md-4  col-sm-4 col-xs-12">
			<img src="assets/images/marca_02.jpg">		
		</div>
		<div class="box-marca col-md-4  col-sm-4 col-xs-12">
			<img src="assets/images/marca_03.jpg">		
		</div>
		<div class="box-marca col-md-4  col-sm-4 col-xs-12">
			<img src="assets/images/marca_04.jpg">		
		</div>
		<div class="box-marca col-md-4  col-sm-4 col-xs-12">
			<img src="assets/images/marca_05.jpg">		
		</div>
		<div class="box-marca col-md-4  col-sm-4 col-xs-12">
			<img src="assets/images/marca_06.jpg">		
		</div>
	</div>	
	<a class="btn-more">Ver Más</a>
	</div>
</div>
<div class="davinci">
	<h1>CARACTERISTICAS</h1>
	<h2>PROYECTO DA VINCI</h2>
	<div class="line2"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_01.jpg">
				</div>
				<a class="link">Excelente Ubicacion</a>
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_02.jpg">
				</div>
				<a class="link">Piscina sin fin</a>
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_03.jpg">
				</div>
				<a class="link">Terraza Panoramica</a>
			</div>
			<div class="clearfix"></div>

			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_04.jpg">
				</div>
				<a class="link">Play Room</a>
			</div>

			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_05.jpg">
				</div>
				<a class="link">Super mercado</a>
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_06.jpg">
				</div>
				<a class="link">Wifi</a>
			</div>
			<div class="clearfix"></div>
			
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_07.jpg">
				</div>
				<a class="link">Parrileros</a>
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_08.jpg">
				</div>
				<a class="link">Sala de cine</a>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_09.jpg">
				</div>
				<a class="link">Domotica</a>
			</div>
			
		</div>
		<div class="more"><img src="assets/images/more.png"></div>
		
	</div>
</div>
<div class="bck-plomo">
	<div class="btn-ok">Elige Tu DEPARTAMENTO</div>
</div>
<div class="about">
	<h1>Por que somos un</h1>		
	<h2>PROYECTO PIONERO?</h2>
	<div class="line1"></div>
		<div class="row">
			
			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<div class="box-about">
				<h3><img src="assets/images/arrow.jpg" > Domotica</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis.</p>
				</div>
			</div>
			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<img src="assets/images/img-1.jpg">
			</div>
			<div class="clearfix"></div>

			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<img src="assets/images/img-2.jpg">
			</div>
			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<div class="box-about">
				<h3><img src="assets/images/arrow.jpg" > Estilo</h3>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis.</p>
				</div>
			</div>
			<div class="clearfix"></div>

			
			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<div class="box-about">
				<h3><img src="assets/images/arrow.jpg" > Disenio y decoracion personalizado</h3>
				

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis.</p>
				</div>
			</div>
			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<img src="assets/images/img-3.jpg">
			</div>
			<div class="clearfix"></div>

			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<img src="assets/images/img-4.jpg">
			</div>
			<div class="nospace col-md-6  col-sm-6 col-xs-12">
				<div class="box-about">
				<h3><img src="assets/images/arrow.jpg" > Amoblado del departamento</h3>
				

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis.</p>
				</div>
			</div>
		</div>

		
	
</div>
<div class="bck-red">
	<div class="btn-ok">Elige Tu DEPARTAMENTO</div>
</div>