<div class="project">
    <div class="container">
    <div class="row">
    	<div class="col-md-8  col-sm-8 col-xs-12">
        <h1>PROYECTO DA VINCI</h1>
        </div>
        <div class="col-md-4  col-sm-4 col-xs-12">
        	<a href="">ELIGE TU DEPARTAMENTO</a>
        </div>
    </div>
    </div>
</div>
<div class="imgproject">
	<div class="btn-cot"></div>
	<div class="red">CONOCE MAS SOBRE NUESTRO NUEVO PROYECTO DAVINCI</div>
</div>
<div class="gallery">
	<div class="container">
	<h1>GALERIA</h1>
	<div class="row">
		<div class="col-md-5  col-sm-5 col-xs-12">
			<br /><br />
			<img src="assets/images/g-1.jpg">
			<br />
			<img src="assets/images/g-3.jpg">
		</div>
		<div class="col-md-4  col-sm-4 col-xs-12">
			<img src="assets/images/g-2.jpg">
			<br />
			<img src="assets/images/g-2.jpg">
			<br />
			<img src="assets/images/g-2.jpg">
		</div>
		<div class="col-md-3  col-sm-3 col-xs-12">
			<p>Ademas puedes incluir a tu departamento</p>
			<a href="" class="btn-red">DOMOTICA</a>
			<a href="" class="btn-red">DISENO PERSONALIZADO</a>
			<a href="" class="btn-red">ESTILO</a>
			<a href="" class="btn-red">OTROS</a>
			<a href="" class="btn-red">OTROS</a>
			<a href="" class="btn-red">OTROS</a>
			<a href="" class="btn-red">OTROS</a>
		</div>
	</div>
	</div>
</div>
<div class="testimonio">
<div class="row">
	<div class="col-md-4  col-sm-4 col-xs-12">
	</div>
	<div class="col-md-6  col-sm-6 col-xs-12">
	<h1>TESTIMONIOS</h1>
	<p class="title1">¿qué dicen las personas de nosotros?</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis neque. Nulla viverra enim et volu tincidunt odio. Duis eget nulla quis dui tincidunt egestas sed a massa. Phasellus nec consequat lectus. Suspendisse finibus, purus</p>
	<p>-Lorem Ipsum</p>
	</div>
</div>
</div>
<div class="marca">
	<h1>CONSTRUIMOS JUNTO A</h1>
	<div class="container">
	<div class="brand">
		<img src="assets/images/d-1.jpg" class="img-circle">
		<p>AGIMEX</p>
	</div>
	<div class="brand">
		<img src="assets/images/d-1.jpg" class="img-circle">
		<p>AGIMEX</p>
	</div>
	<div class="brand">
		<img src="assets/images/d-1.jpg" class="img-circle">
		<p>AGIMEX</p>
	</div>
	</div>

</div>
<div class="davinci">
	<h1>CARACTERISTICAS PROYECTO DA VINCI</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-1.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-2.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-3.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-4.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>

			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-1.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-2.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-3.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-4.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>

			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-1.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-2.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div><div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-3.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
			<div class="col-md-3  col-sm-3 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/d-4.jpg">
				</div>
				<a class="link">Leer Mas</a>
			</div>
		</div>
		<a class="link-red">ELIGE TU DEPARTAMENTO</a>
	</div>
</div>
<div class="about">
	<h1>POR QUE SOMOS UN PROYECTO PIONERO?</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-3  col-sm-6 col-xs-12">
				<img src="assets/images/p-1.jpg">
			</div>
			<div class="col-md-3  col-sm-6 col-xs-12">
				<h3>Estilo</h3>
				<h4>Lorem Ipsum</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis.</p>
			</div>

			<div class="col-md-3  col-sm-6 col-xs-12">
				<img src="assets/images/p-2.jpg">
			</div>
			<div class="col-md-3  col-sm-6 col-xs-12">
				<h3>Estilo</h3>
				<h4>Lorem Ipsum</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis.</p>
			</div>


			<div class="col-md-3  col-sm-6 col-xs-12">
				<img src="assets/images/p-3.jpg">
			</div>
			<div class="col-md-3  col-sm-6 col-xs-12">
				<h3>Estilo</h3>
				<h4>Lorem Ipsum</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis.</p>
			</div>


			<div class="col-md-3  col-sm-6 col-xs-12">
				<img src="assets/images/p-4.jpg">
			</div>
			<div class="col-md-3  col-sm-6 col-xs-12">
				<h3>Estilo</h3>
				<h4>Lorem Ipsum</h4>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper nulla nec orci tempus euismod. Integer hendrerit, diam a porta vestibulum, elit eros finibus nisl, nec ullamcorper ex Ut eu turpis.</p>
			</div>
		</div>

		<a class="link-red">ELIGE TU DEPARTAMENTO</a>
	</div>
</div>