<div class="davinci">
	<h1>CARACTERISTICAS</h1>
	<h2>PROYECTO DA VINCI</h2>
	<div class="line2"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_01.jpg">
				</div>
				<a class="link">Excelente Ubicacion</a>
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_02.jpg">
				</div>
				<a class="link">Piscina sin fin</a>
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_03.jpg">
				</div>
				<a class="link">Terraza Panoramica</a>
			</div>
			<div class="clearfix"></div>

			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_04.jpg">
				</div>
				<a class="link">Play Room</a>
			</div>

			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_05.jpg">
				</div>
				<a class="link">Super mercado</a>
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_06.jpg">
				</div>
				<a class="link">Wifi</a>
			</div>
			<div class="clearfix"></div>
			
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_07.jpg">
				</div>
				<a class="link">Parrileros</a>
			</div>
			<div class="col-md-4  col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_08.jpg">
				</div>
				<a class="link">Sala de cine</a>
			</div>

			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="davinci-box">
					<img src="assets/images/p_09.jpg">
				</div>
				<a class="link">Domotica</a>
			</div>
			
		</div>
		
	</div>
</div>