@font-face {
    font-family: TrajanPro;
    src: url(../fonts/TrajanPro-Regular_1.otf);
}
@font-face {
    font-family: FuturaStd;
    src: url(../fonts/FuturaStd-Light_5.otf);
}
@font-face {
    font-family: FuturaStdMedium;
    src: url(../fonts/FuturaStd-Medium_5.otf);
}

body {
  font-family: 'TrajanPro';
}

.mega-menu .menu-links  li {
  float: inherit !important;
  display: inline-block !important;
}
.mega-menu .menu-links {
  float: inherit !important;
  text-align: center  !important;
  margin: 95px auto;
}
.mega-menu .menu-links  li a{
  font-size: 27px
}

.slide img{ width: 100%; background-position: top center; }